@import "tailwindcss";

@theme {

    /* Antonio */
    --font-antonio-thin: "Antonio-Thin", sans-serif;
    --font-antonio-extralight: "Antonio-ExtraLight", sans-serif;
    --font-antonio-light: "Antonio-Light", sans-serif;
    --font-antonio-regular: "Antonio-Regular", sans-serif;
    --font-antonio-medium: "Antonio-Medium", sans-serif;
    --font-antonio-semibold: "Antonio-SemiBold", sans-serif;
    --font-antonio-bold: "Antonio-Bold", sans-serif;

    /* DMSans */
    --font-dm-sans-italic:"DM-Sans-Italic", sans-serif;
    --font-dm-sans-light:"DM-Sans-Light", sans-serif;
    --font-dm-sans-regular:"DM-Sans-Regular", sans-serif;
    --font-dm-sans-medium:"DM-Sans-Medium", sans-serif;
    --font-dm-sans-semibold:"DM-Sans-Semibold", sans-serif;
    --font-dm-sans-bold:"DM-Sans-Bold", sans-serif;
}

body {
    background-color: #eaeaea;
}
.page-container {
    @apply space-y-6 pt-8
}

h1 {
    @apply uppercase font-antonio-regular md:text-[188px]  text-6xl
    md:tracking-normal 
}

h2 {
    @apply uppercase font-antonio-regular md:text-8xl  text-4xl 
}



h3 {
    @apply  uppercase font-antonio-regular md:text-5xl text-4xl 
}


h4, nav, .links {
    @apply uppercase font-antonio-medium md:text-3xl text-2xl
}

li, time, h5 {
    @apply font-dm-sans-regular text-white  md:text-xl mb-2 
    px-4 py-4 text-shadow-lg
}

.bgBlur {
    @apply bg-black/45 backdrop-blur-none rounded-b-sm
}

p {
    @apply font-dm-sans-regular text-white  md:text-lg 
}

h6 {
    @apply font-dm-sans-regular md:text-2xl text-base mb-2
}

.img-preview {
    @apply object-cover object-center rounded border h-64
}

.linkto:hover, .links:hover {
    @apply text-red-700 underline ease-out duration-200 transition-all
}

.rooms {
    @apply h-56 w-96  rounded border 
}

.switch {
    @apply border-gray-400 bg-gray-500 text-gray-400 
    checked:border-green-500 checked:bg-green-900 checked:text-green-500
}

button {
    @apply font-dm-sans-regular
}

/* Each Antonio FONTS */
@font-face {
    font-family: "Antonio-Thin";
    src: url("/public/fonts/Antonio-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Antonio-ExtraLight";
    src: url("/public/fonts/Antonio-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Antonio-Light";
    src: url("/public/fonts/Antonio-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Antonio-Regular";
    src: url("/public/fonts/Antonio-Regular.ttf") format("truetype");
    }

@font-face {
    font-family: "Antonio-Medium";
    src: url("/public/fonts/Antonio-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Antonio-SemiBold";
    src: url("/public/fonts/Antonio-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Antonio-Bold";
    src: url("/public/fonts/Antonio-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Antonio-Bold";
    src: url("/public/fonts/DM_Sans/") format("truetype");
}

/* Each DM Sans FONTS */

@font-face {
    font-family: "DM-Sans-Italic";
    src: url("/public/fonts/DMSans/DMSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "DM-Sans-Light";
    src: url("/public/fonts/DMSans/DMSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "DM-Sans-Regular";
    src: url("/public/fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DM-Sans-Medium";
    src: url("/public/fonts/DMSans/DMSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "DM-Sans-Semibold";
    src: url("/public/fonts/DMSans/DMSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "DM-Sans-Bold";
    src: url("/public/fonts/DMSans/DMSans-Bold.ttf") format("truetype");
}
